[submodule "Techdome-backend"]
	path = Techdome-backend
	url = https://github.com/Anand-1432/Techdome-backend
[submodule "Techdome-frontend"]
	path = Techdome-frontend
	url = https://github.com/Anand-1432/Techdome-frontend
[submodule "wait-for-it"]
        path = wait-for-it
        url = https://github.com/yourusername/wait-for-it.git
